# Database configuration for Prisma
# O banco de dados precisa ser PostgreSQL e estar acessível nessa URL
DATABASE_URL="postgresql://clinic:clinicpassword@localhost:5432/clinic_db?schema=public"

# Backend configuration
# Porta na qual o Node irá rodar o Express
PORT=3333

# Segredo para assinatura de Tokens JWT do sistema de Login
JWT_SECRET="super_secret_dev_key"

# Frontend configuration (se utilizar VITE_ prefixo futuramente para conectar API)
VITE_API_URL="http://localhost:3333"
